.side-bar
  .side-bar__header
    .side-bar__header__user
      .side-bar__header__user__name
        imaizumi
      =link_to"#",class: "side-bar__header__user__item side-bar__header__user__item__edit" do
        = icon('fas', 'edit')
        
      =link_to"#",class: "side-bar__header__user__item side-bar__header__user__item__icon" do
        = icon('fas', 'cog')
    
  .side-bar__groups
    .side-bar__groups__group
      .side-bar__groups__group__name
        gorup A
      .side-bar__groups__group__comment
        まだメッセージがありません
    .side-bar__groups__group
      .side-bar__groups__group__name
        gorup B
      .side-bar__groups__group__comment
        まだメッセージがありません
    .side-bar__groups__group
      .side-bar__groups__group__name
        gorup C
      .side-bar__groups__group__comment
        まだメッセージがありません
 
