* {
  box-sizing: border-box;
}
a:link{
  //color: white;
  text-decoration: none;
}


//＊＊＊＊＊サイドバー の編集＊＊＊＊＊
.side-bar{
  background-color: $side_blue_light;
  color: $white;
  width: 300px;
  height: 100vh;
  float:left;
  
  .header{
    background-color: $side_blue_dark;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__user-name{
      background-color:#333333;
      height: 20px;
      width: 260px;
      font-size: 16px;
      font-weight: bold;
      margin: 0 20px;
      display: flex;
      align-items: center;
    }
    &__lists{
      justify-content: left;
      text-align: left;
      width: calc(100vw - 60px);
      color: $white;
      justify-content: right;
      width: 60px;
      margin-right: 5px;
    
    }  
    
  }

  .groups{
    background-color: $side_blue_light;
    height: calc(100vh - 100px);
    display: block;
    padding:20px 20px 0 20px;
    color: $white;
    font-weight: bold;
    
    .group{
      margin-bottom: 40px;
      
      &__name{
        font-size: 15px;
        margin-bottom: 5px;
        color: $white;
        text-decoration: none;
      }

      &__message{
        font-size: 11px;
        color: $white;
        text-decoration: none;
      }
    }
  }
}

//＊＊＊＊＊メインの編集＊＊＊＊＊
.chat{
  background-color:$white;
  width: calc(100vw - 300px);
  float:left;
  .header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
    color: #333333;
    padding: 0px 40px;

    &__group{
      font-size: 20px;
      padding-top: 35px;
      justify-content: left;

      &__member{
        color: #999999;
        font-size: 12px;
        padding-top: 15px;
      }
    }

    &__group-edit{
      margin-top: 28px;
      padding:0 20px;
      height: 40px;
      line-height: 40px;
      border:solid 1px $light_blue;

      &__btn{
        color: $light_blue;
        text-decoration: none;
      }
    }
  }


  .message{
    background-color: #fafafa;
    height: calc(100vh - 100px - 90px);
    padding: 35px 40px 0 40px;
    
    
    &__info{
      display: flex;
      margin-bottom: 12px;

      &__user-name{
        color: #333333;
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
      }

      &__date{
        color: #999999;
        font-size: 12px;
      }
    }

    &__text{
      color: #434a54;
      font-size: 14px;
      margin-bottom: 46px;
    }
  
  }

  .footer{
    background-color:#d2d2d2;
    box-sizing: border-box;
    height: 90px;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 0;
    width: calc(100% - 300px);
    &__text{
      color: #000;
      width: calc(100vw - 500px);
      height: 50px;
      margin: 0 40px;
    }
    &__form__mask{

    }
    
    &__send-button{
      background-color:$light_blue;
      color: $white;
      padding: 10px 30px;
      margin-left: -15px;
      cursor: pointer;
    }

  }
  .icon{
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    position: absolute;
    right: 170px;
  }
  .hidden{
    display: none;
  }
  .new_message{
    display: flex;
  }
}

